#map {
  margin: 5px;
  height: 500px;
  width: auto;
}

#places-list {
  height: 500px;
  width: auto;
  overflow: scroll;
}

input[type=text] {
  padding: 6px;
  margin: 8px;
  font-size: 17px;
  border: none;
}

button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.list-group-item {
  background-color: none;
}

.list-group-item:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.active {
  background-color: #4caf50 !important;
}

#search-bar {
  background-color: #e9e9e9;
  padding: 10px;
}
